<h1>{{ page.title }}</h1>
<p>{{ page.content }}</p>

{% schema %}
  {
    "name": "lotion-lp",
    "settings": [],
    "presets": [
      {
        "name": "lotion-lp"
      }
    ]
  }
{% endschema %}