body {
    background-color:rgba(7, 14, 24, 0.822);
    color: rgb(250, 250, 250)
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 3px solid rgb(20, 51, 53);
    padding: 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
