body {
    background: radial-gradient(circle at right, #219c96, #171324 60%);
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}


.all_products {
    gap: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 1px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main_product {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}



