body {
    background-color:blueviolet
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 1px solid rgb(79, 187, 187);
    padding: 10px;
}