body {
    background-color:rgba(12, 6, 34, 0.822);
    color: rgb(192, 191, 191)
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 3px solid rgb(79, 187, 187);
    padding: 10px;
}