body {
    background-color:rgb(21, 14, 49)
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 3px solid rgb(79, 187, 187);
    padding: 10px;
}