body {
    background-color:rgba(37, 28, 66, 0.822);
    color: rgb(250, 250, 250)
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 3px solid rgb(79, 187, 187);
    padding: 10px;
}