body {
    background-color:rgb(15, 42, 46);
    color: rgb(250, 250, 250)
}


.all_products {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    gap: 16px;
}

.main_product {
    border: 3px solid rgb(11, 39, 41);
    padding: 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_main {
    border: 2px solid rgb(19, 18, 18);
}

.img_all {
    border: 2px solid rgb(19, 18, 18);
}